/*Edycja*/


#spec-edit .p-panel .p-panel-content {
  padding: 0rem 0rem 1rem 0rem;
}

#spec-edit .p-float-label {
  margin-bottom: 0.2rem;
}

#spec-edit .field {
  margin-bottom: 0.6rem;
}

#spec-edit .editor {
  margin-bottom: 0.6rem;
}

#spec-edit .p-float-label input:focus ~ label,
#spec-edit .p-float-label input.p-filled ~ label,
#spec-edit .p-float-label textarea:focus ~ label,
#spec-edit .p-float-label textarea.p-filled ~ label,
#spec-edit .p-float-label .p-inputwrapper-focus ~ label,
#spec-edit .p-float-label .p-inputwrapper-filled ~ label {
  top: -1rem !important;
  background-color: #ffffff;
  padding: 2px 4px;
  margin-left: -1rem;
  margin-top: 0;
}

#spec-edit .p-dropdown,
#spec-edit .p-dropdown .p-dropdown-label {
  background-color: $text-bg;
  color: $text-color;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0px;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 6px;
  box-shadow: none;
  width: 100%;
}

#spec-edit .p-dropdown .p-dropdown-label {
  border: 0;
}

#spec-edit .p-dropdown:hover {
  border: 1px solid #707890;
  color: #707890;
}

#spec-edit .p-dropdown.p-component.p-inputwrapper-focus {
  border: 2px solid $button-color;
  color: $button-color;
}

#spec-edit .p-calendar.p-component {
  width: 100%;
}

#spec-edit .p-disabled,
#spec-edit .p-component:disabled {
  opacity: 1;
}

#spec-edit .p-invalid {
  border: 1px solid $danger-color;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #FDEBEB;
}

#spec-edit .dx-htmleditor {
  border-radius: 6px;
}

#spec-edit .validation-msg.invalid > .dx-htmleditor {
  border: 1px solid $danger-color;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #FDEBEB;
}

#spec-edit .dx-htmleditor {
  border-radius: 6px;
}

#spec-edit .validation-msg {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
}

#spec-edit .validation-msg.invalid {
  color: $danger-color;
}

#spec-edit .dx-htmleditor.dx-htmleditor-outlined.dx-invalid {
  border: 1px solid $danger-color !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#spec-edit .p-calendar-w-btn .p-datepicker-trigger.p-button span {
  color: $link-color;
}

#spec-edit .p-calendar-w-btn .p-datepicker-trigger,
#spec-edit .p-calendar-w-btn .p-datepicker-trigger:hover {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

#spec-edit .p-datepicker-buttonbar > .p-button.p-component.p-button-text.p-button-secondary {
  color: $button-text-color;
  background-color: $link-color;
}

#spec-edit .p-calendar > .p-button {
  width: 45px;
}

#spec-edit .dx-overlay-content.dx-invalid-message-content.dx-resizable {
  visibility: hidden;
}

#spec-edit .dx-htmleditor.dx-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px $button-color;
  box-shadow: inset 0 0 0 1px $button-color;
}

#spec-edit .p-panel {
  margin-bottom: 10px !important;
}

#spec-edit .validation-msg.invalid .image-base {
  border: 1px solid $danger-color;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #FDEBEB;
  border-radius: 4px;
}

#spec-edit .p-dropdown-trigger span {
  color: $button-color;
}

#spec-edit .file-chooser::-webkit-file-upload-button {
  box-shadow: 0px 3px 6px #00000029;
  background-color: $button-color;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-color: transparent;
  border-radius: 4px;
  flex: auto;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  min-width: 0rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

#spec-edit .validation-panel {
  font-size: 14px;
  font-weight: bold;
  background: #FDEBEB 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: #CB0A2F;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
}

#spec-edit input[type='file'] {
  color: transparent;
}

#spec-edit .autofill-border {
  outline: 3px solid yellow !important;
}

#spec-edit .editable-border {
  border: 3px solid $button-color !important;
}

#spec-edit label {
  margin-bottom: .1rem;
}

#spec-edit a {
  color: $link-color;
}

#spec-edit .p-button p-component p-confirm-dialog-accept:focus,
#spec-edit .p-button p-component p-confirm-dialog-accept:active,
#spec-edit .p-button p-component p-confirm-dialog-accept:visited,
#spec-edit .p-button p-component p-confirm-dialog-accept:hover {
  background-color: $button-color !important;
}

.p-button:not(a):not(.p-disabled):focus,
.p-button:not(a):not(.p-disabled):active,
.p-button:not(a):not(.p-disabled):hover,
.p-button:not(a):not(.p-disabled):visited, {
  background: $button-color !important;
}

#spec-edit .p-checkbox-icon {
  position: relative;
  bottom: 5px;
  right: 5px;
}

#spec-edit .p-checkbox .p-checkbox-box{
  border-radius: 0px;
}

#spec-edit .p-checkbox-box.p-highlight {
  border-color: $button-color !important;
  background: $button-color !important;
}


#spec-edit .autofill-border-checkbox {
  outline: 3px solid yellow !important;
  border-radius: 2px !important;
}

#spec-edit .p-invalid-checkbox {
  outline: 3px solid $danger-color !important;
  border-radius: 2px !important;
}

#spec-edit .p-button.p-button-secondary {
  color: $button-color;
  background: rgba(0, 0, 0, 0.12) !important;
}

#spec-edit .p-button.p-button-secondary:hover {
  background: rgba(0, 0, 0, 0.12) !important;
  color: $button-color !important;
}

#spec-edit .p-inputgroup {
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 4px;

  &:hover {
    border-color: rgba(0, 0, 0, 0.87);
  }
}

#spec-edit .p-inputgroup > .p-inputtext {
  border: none;
}

//TODO ograniczyc tylko do podpowiedzi
#editListDialog .dx-datagrid .dx-error-row {
  display: none;
}

#innerHTML p {
  margin-top: revert;
  margin-bottom: revert;
}

#editListDialog .dx-datagrid-headers .dx-checkbox-container {
  visibility: hidden;
}

#spec-edit .dx-button.dx-button-has-icon:not(.dx-button-has-text):not(.dx-shape-standard){
  border-radius:0
}
#spec-edit .dx-dropdownmenu.dx-button-has-icon .dx-button-content{
  padding: 4px;
}

#spec-edit .p-password input{
  width: 100%;
}

#spec-edit input::-webkit-outer-spin-button,
#spec-edit input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#spec-edit input[type=number] {
  -moz-appearance: textfield;
}