/*Edycja*/
$edit-row-font-size: 12px;
$edit-padding-left: 8px;
$edit-padding-right: 8px;
$edit-padding-top: 12px;
$edit-padding-bottom: 11px;

#right-sidebar {
    background: transparent linear-gradient(90deg, #f7f9fd 0%, #ecf2fb 100%) 0% 0% no-repeat padding-box !important;
    z-index: 1;
}
@media (max-width: 868px) {
    #right-sidebar {
        width: 100% !important;
    }
}

#row-edit .p-panel {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 4px;
}

#row-edit .p-panel .p-panel-content {
    padding: 0rem 0rem 1rem 0rem;
}

#row-edit .p-float-label {
    margin-bottom: 0.2rem;
}

#row-edit .field {
    margin-bottom: 0.6rem;
}

#row-edit .editor {
    margin-bottom: 0.6rem;
}

#row-edit .p-float-label input:focus ~ label,
#row-edit .p-float-label input.p-filled ~ label,
#row-edit .p-float-label textarea:focus ~ label,
#row-edit .p-float-label textarea.p-filled ~ label,
#row-edit .p-float-label .p-inputwrapper-focus ~ label,
#row-edit .p-float-label .p-inputwrapper-filled ~ label {
    top: -1rem !important;
    background-color: #ffffff;
    padding: 2px 4px;
    margin-left: -1rem;
    margin-top: 0;
}

#row-edit .p-dropdown,
#row-edit .p-dropdown .p-dropdown-label {
    background-color: $text-bg;
    color: $text-color;
    font-weight: 500;
    // font-size: 16px;
    letter-spacing: 0px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 6px;
    box-shadow: none;
    width: 100%;
}

#row-edit .p-dropdown .p-dropdown-label {
    border: 0;
}

#row-edit .p-dropdown:hover {
    border: 1px solid $dropdown-hover;
    color: $dropdown-hover;
}

#row-edit .p-dropdown.p-component.p-inputwrapper-focus {
    border: 2px solid $base-color;
    color: $base-color;
}

#row-edit .p-calendar.p-component {
    width: 100%;
}

#row-edit {
    .p-dropdown,
    .p-inputtext,
    .p-calendar {
        font-size: $edit-row-font-size;
    }
    .p-inputtext {
        padding-left: $edit-padding-left;
        padding-right: $edit-padding-right;
        padding-top: $edit-padding-top;
        padding-bottom: $edit-padding-bottom;
    }
}
#right-sidebar .label,
#view-name,
.label {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0px;
    color: $text-color;
}

#right-sidebar #buttons {
    margin-top: 5px;
}

#right-sidebar #buttons > .shortcut.p-button.p-component {
    height: 35px;
    min-width: 50px;
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 3px 6px #00000029;
}

#right-sidebar #buttons a {
    align-items: center;
    justify-content: center;
}

#row-edit .p-disabled,
#row-edit .p-component:disabled {
    opacity: 1;
}

#row-edit .p-invalid {
    border: 2px solid $danger-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    // background-color: $invalid-background-color;
}

#row-edit .dx-htmleditor {
    border-radius: 6px;
}

#row-edit .validation-msg.invalid > .dx-htmleditor {
    border: 2px solid $danger-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    // background-color: $invalid-background-color;
}

#row-edit .dx-htmleditor {
    border-radius: 6px;
}

#row-edit .validation-msg {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0px;
}

#row-edit .validation-msg.invalid {
    color: $danger-color;
}

#row-edit .dx-htmleditor.dx-htmleditor-outlined.dx-invalid {
    border: 2px solid $danger-color !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#row-edit .p-calendar-w-btn .p-datepicker-trigger.p-button span {
    color: $base-color;
}

#row-edit .p-calendar-w-btn .p-datepicker-trigger,
#row-edit .p-calendar-w-btn .p-datepicker-trigger:hover {
    background-color: rgba(0, 0, 0, 0.12);
}
.p-button-icon-only {
    .p-icon {
        color: $base-color;
    }
}
.p-datepicker-buttonbar > .p-button.p-component.p-button-text.p-button-secondary {
    color: $button-text-color;
    background-color: $base-color;
}

#row-edit .p-calendar > .p-button {
    width: 45px;
}

#row-edit .dx-overlay-content.dx-invalid-message-content.dx-resizable {
    visibility: hidden;
}

#row-edit .p-panel {
    margin-bottom: 10px !important;
}

#row-edit .validation-msg.invalid .image-base {
    border: 1px solid $danger-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: $invalid-background-color;
    border-radius: 4px;
}

#row-edit .p-dropdown-trigger span {
    color: $base-color;
}

#row-edit .file-chooser::-webkit-file-upload-button {
    box-shadow: 0px 3px 6px #00000029;
    background-color: $base-color;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-color: transparent;
    border-radius: 4px;
    flex: auto;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    min-width: 0rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

#row-edit .validation-panel {
    font-size: 14px;
    font-weight: bold;
    // background: $invalid-background-color 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: $validation-edit-row-color;
    margin-bottom: 0.5rem;
    padding: 0rem;
}

#row-edit input[type='file'] {
    color: transparent;
}

#row-edit .autofill-border {
    background-color: $autofill-background !important;
}

#row-edit .not-editable {
    background-color: $disabled-background;
    // background-color: rgba(0, 0, 0, 0.12) !important;
    .p-inputtext {
        background-color: $disabled-background;
    }
    .dx-htmleditor-toolbar-wrapper {
        display: none;
    }
}
#row-edit label {
    margin-bottom: 0.1rem;
}

#row-edit a {
    color: $base-color;
}

#row-edit .p-button p-component p-confirm-dialog-accept:focus,
#row-edit .p-button p-component p-confirm-dialog-accept:active,
#row-edit .p-button p-component p-confirm-dialog-accept:visited,
#row-edit .p-button p-component p-confirm-dialog-accept:hover {
    background-color: $base-color !important;
}

.p-button:not(a):not(.p-disabled):not(.p-confirm-dialog-reject):focus,
.p-button:not(a):not(.p-disabled):not(.p-confirm-dialog-reject):active,
.p-button:not(a):not(.p-disabled):not(.p-confirm-dialog-reject):hover,
.p-button:not(a):not(.p-disabled):not(.p-confirm-dialog-reject):visited {
    // background: $base-color !important;
}
.p-confirm-dialog-reject:focus,
.p-confirm-dialog-reject:active,
.p-confirm-dialog-reject:hover,
.p-confirm-dialog-reject:visited {
    background: white !important;
}
#row-edit .p-checkbox-icon {
    position: relative;
}

#row-edit .p-checkbox .p-checkbox-box {
    border-radius: 0px;
}

#row-edit .p-checkbox-box.p-highlight {
    border-color: $base-color !important;
    background: $base-color !important;
}

#row-edit .autofill-border-checkbox {
    // background-color: $autofill-background !important;
    border-radius: 2px !important;
}

#row-edit .p-invalid-checkbox {
    outline: 3px solid $danger-color !important;
    border-radius: 2px !important;
}
.p-button.p-button-secondary {
    background: $base-color;
}
#row-edit .p-button.p-button-secondary {
    color: $base-color;
    background: rgba(0, 0, 0, 0.12) !important;
}

#row-edit .p-button.p-button-secondary:hover {
    background: rgba(0, 0, 0, 0.12) !important;
    color: $base-color !important;
}

#row-edit .p-inputgroup{
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    &:hover:not(.not-editable)  {
        // border: 1px solid rgba(0, 0, 0, 0.38);
        border-color: rgba(0, 0, 0, 0.87);
    }
}


#row-edit .p-inputgroup > .p-inputtext {
    border: none;
}

#editListDialog .dx-datagrid .dx-error-row {
    display: none;
}

#editListDialog {
    .dx-datagrid-borders > .dx-datagrid-filter-panel,
    .dx-datagrid-borders > .dx-datagrid-headers,
    .dx-datagrid-borders > .dx-datagrid-pager {
        border-top: 1px solid #ddd;
        top: 0;
        position: sticky;
        z-index: 1000000000;
        background: white;
    }
    overflow-y: hidden;
    tr {
        cursor: pointer;
    }
    .p-dialog-header-close-icon.pi.pi-times {
        color: white;
    }
}
#innerHTML p {
    margin-top: revert;
    margin-bottom: revert;
}

#editListDialog .dx-datagrid-headers .dx-checkbox-container {
    visibility: hidden;
    pointer-events: none;
}
#editListDialog {
        #grid-container .dx-datagrid .dx-datagrid-table .dx-header-row > td.dx-command-select{
            pointer-events: none!important;;
        }
       
}
#row-edit .dx-button.dx-button-has-icon:not(.dx-button-has-text):not(.dx-shape-standard) {
    border-radius: 0;
}
#row-edit .dx-dropdownmenu.dx-button-has-icon .dx-button-content {
    padding: 4px;
}

#row-edit .p-password input {
    width: 100%;
}

#row-edit input::-webkit-outer-spin-button,
#row-edit input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#row-edit input[type='number'] {
    -moz-appearance: textfield;
}

.p-sidebar {
    .p-sidebar-header {
        & + .p-sidebar-content {
            padding-top: 0;
            height: 100%;
        }
    }
}
