/** COPY STYLES OF CHECKBOX FROM DEVEXTREME */

$base-color: #0e49eb;

#gantt-container {
    z-index: 0;
    
    .container-checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .dx-gantt-tm.current-time {
        border-left: 1px solid red;
    }

    .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: white;
        border-radius: 2px !important;
        border: 1px solid #ddd;
    }

    .container-checkbox:hover input ~ .checkmark {
        background-color: white;
        border: 1px solid $base-color;
    }

    .container-checkbox input:checked ~ .checkmark {
        background-color: $base-color;
    }

    .checkmark:after {
        content: '';
        position: absolute;
        display: none;
    }

    .container-checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    .container-checkbox .checkmark:after {
        left: 4px;
        top: 0px;
        width: 5px;

        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
.parent-checkbox-area{
    border-bottom: 2px solid #e0e0e0;    
}
    /** END COPY OF CHECKBOX */
}
.dx-gantt-altRow {
    background-color: white !important;
}
