/** COPY STYLES OF CHECKBOX FROM DEVEXTREME */

$base-color: #0e49eb;

.dx-overlay-content {
    .dx-popup-content {
        .dx-list-select-all {
            border-bottom: 0px;
        }
        .dx-scrollable-content {
            .dx-treeview-select-all-item {
                padding: 10px;
            }
            .dx-treeview-toggle-item-visibility {
                margin-top: 8px;
            }
            .dx-item-content {
                margin-top: 5px;
                margin-left: 25px;
            }
            .dx-treeview-item {
                .dx-treeview-expander-icon-stub {
                    display: none;
                }
            }
        }
    }
}
#gantt-container {
    z-index: 0;
    .checkBoxSelection {
        cursor: pointer;
    }
    .container-checkbox {
        margin-top: 9px;
        align-items: center; /* Wyrównanie w pionie */
        display: flex;

    }
    .dx-gantt-tm.current-time {
        border-left: 1px solid red;
    }

    
    .parent-checkbox-area {
        border-bottom: 2px solid #e0e0e0;
    }
    /** END COPY OF CHECKBOX */
}
.dx-gantt-altRow {
    background-color: white !important;
}

#gantt-container {
    .dx-checkbox-checked .dx-checkbox-icon{
        color: white!important;
        background: $base-color;
    }
    .select-all{
        margin-left: 14px ;
    }
    .dx-checkbox-icon{
        font-size: 12px!important;
    }
    .dx-treelist-icon-container{
        .dx-treelist-empty-space.dx-treelist-expanded, .dx-treelist-empty-space.dx-treelist-collapsed{
            margin-top:3px;
            left: -4px;
        }
    }
    .line-treelist {
        width: 15px;
        height: 100%;
        z-index: 1000000000000;
        display: flex;
        position: absolute;
        height: 41px;
        margin-top: -30px;
    }
    .line-treelist-100 {
        display: none;
    }
    .line-treelist-90 {
        background-color: $base-color;
    }
    .line-treelist-80 {
        background-color: $base-color;
        opacity: 80%;
    }
    .line-treelist-70 {
        background-color: $base-color;
        opacity: 70%;
    }
    .line-treelist-60 {
        background-color: $base-color;
        opacity: 60%;
    }
    .line-treelist-50 {
        background-color: $base-color;
        opacity: 50%;
    }
    .line-treelist-40 {
        background-color: $base-color;
        opacity: 40%;
    }
    .line-treelist-30 {
        background-color: $base-color;
        opacity: 30%;
    }
    .line-treelist-20 {
        background-color: $base-color;
        opacity: 20%;
    }
    .line-treelist-10 {
        background-color: $base-color;
        opacity: 10%;
    }
    .line-treelist-0 {
        background-color: $base-color;
        opacity: 0%;
    }
}
