/*Constans*/
$header-label: #707890;
$data-label: #182d67;
$table-border: #d5d5d5;
$table-selection: #dde6ff;

.dx-datagrid-headers tr > td {
    text-align: left;
    font-size: 14px !important;
    line-height: 16px !important;
    letter-spacing: 0px;
    color: $header-label;
    opacity: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.dx-datagrid-rowsview tr > td {
    color: $data-label;
    text-align: left;
    font-size: 12px !important;
    line-height: 14px !important;
    letter-spacing: 0px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.dx-datagrid .dx-column-lines > td {
    border-left: 1px solid $table-border;
    border-right: 1px solid $table-border;
}

.dx-datagrid .dx-row-lines > td {
    border-bottom: 1px solid $table-border;
}

.dx-datagrid-rowsview .dx-selection > td,
.dx-datagrid-rowsview .dx-selection > tr > td,
.dx-datagrid-rowsview .dx-selection > td,
.dx-datagrid-rowsview .dx-selection > tr > td {
    background-color: $table-selection !important;
    color: $data-label;
    text-align: left;
    font-size: 12px !important;
    line-height: 14px !important;
    letter-spacing: 0px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.dx-command-select .dx-checkbox-checked .dx-checkbox-icon {
    color: white;
    background-color: #0e49eb;
}

.dx-datagrid
    .dx-datagrid-content
    .dx-datagrid-table
    .dx-row
    > td.dx-cell-modified:not(.dx-field-item-content):not(.dx-validation-pending):first-of-type,
.dx-datagrid
    .dx-datagrid-content
    .dx-datagrid-table
    .dx-row
    > td.dx-datagrid-invalid:not(.dx-field-item-content):not(.dx-validation-pending):not(.dx-datagrid-select-all):first-of-type,
.dx-datagrid
    .dx-datagrid-content
    .dx-datagrid-table
    .dx-row
    > td:not(.dx-validation-pending):not(.dx-datagrid-select-all):first-of-type {
    padding-left: 0px;
}

.dx-datagrid-rowsview .dx-select-checkboxes-hidden > tbody > tr > td > .dx-select-checkbox {
    display: inline-block !important;
}

.dx-datagrid-rowsview .dx-select-checkboxes-hidden > tbody > tr > td > .dx-select-checkbox {
    display: grid;
}

.grid-selection-panel{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 36px;
    vertical-align: middle;
}

.grid-selection-panel-non-selection {
    background-color: $button-text-color;
    color: $button-color;
}

.grid-selection-panel-selection {
    background-color: $button-color;
    color: $button-text-color;
}

.grid-count-fragment {
    margin-top: 2px;
}

.grid-separator-fragment {
    border-left: $button-text-color 1px solid;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grid-button-panel {
    background-color: $button-color;
    color: $button-text-color;
    font-size: 15px;
    padding: 0rem 0.4rem;
    min-width: 0rem;
    height: 26px;
}

.grid-button-panel.shortcut > .shortcut-text {
    color: $button-text-color;
}

.dx-button-mode-outlined.dx-item-selected {
    background-color: rgba(0, 0, 0, 0.17);
}

.grid-container {
    height: 69vh;
}

.dx-button-has-icon .dx-button-content {
    padding: 5px !important;
}
.dx-button-mode-outlined.dx-item-selected {
    background-color: rgba(0, 0, 0, 0.17);
}
.dx-editor-with-menu,
.dx-checkbox-icon,
.dx-datagrid-columns-separator.dx-datagrid-columns-separator-transparent {
    z-index: 0;
}

.dx-datagrid.dx-gridbase-container {
    z-index: 0;
}

.dx-buttongroup-wrapper dx-widget dx-collection{
    background: white;
    border-radius: 5px;
}

.grid-panel-left {
}

.grid-panel-selection{
    display: inline-flex;
}

.grid-panel-right{
    margin-left: auto;
    order: 3;
}

.active-shortcut-button{
    background: $link-color;
    border-color: transparent;
}

.active-shortcut-button .shortcut-text{
    color: white;
}
.card-grid {
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
}
.dx-item.dx-tile {
    border-radius: 10px;
    padding: 0px;
}
.dx-item.dx-tile .dx-tile-image {
    height: 100%;
    border-radius: 10px;
}
.dx-item.dx-tile .dx-tile-image.card-grid-selected {
    border: 2px solid #0E49EB;
}
.dx-item.dx-tile .dx-tile-image > .row {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.card-grid-header,
.card-grid-body,
.card-grid-footer {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.card-grid-header {
    flex-basis: 0;
}
.card-grid-body {
    flex-basis: 0;
    flex-grow: 5;
}
.card-grid-footer {
    flex-basis: 0;
}

.dx-datagrid .dx-row > td{
    padding: 3px;
}

.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td
.dx-row > td.dx-cell-modified:not(.dx-field-item-content):not(.dx-validation-pending),
.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-datagrid-invalid:not(.dx-field-item-content):not(.dx-validation-pending):not(.dx-datagrid-select-all),
.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td:not(.dx-validation-pending):not(.dx-datagrid-select-all) {
    padding-right: 3px;
    padding-left: 3px;
}

