/*Constans*/
$header-label: #707890;
$data-label: #182d67;
$table-border: #d5d5d5;
$table-selection: #dde6ff;
$base-color: #0e49eb;
// $base-color: #0e49eb;

.dx-datagrid-headers tr > td {
    text-align: left;
    font-size: 14px !important;
    line-height: 16px !important;
    letter-spacing: 0;
    color: $header-label;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}
.dx-dropdowneditor-icon {
    background: white;
}

.dx-datagrid-rowsview tr > td {
    color: $data-label;
    text-align: left;
    font-size: 12px !important;
    line-height: 14px !important;
    letter-spacing: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.dx-datagrid .dx-column-lines > td {
    border-left: 1px solid $table-border;
    border-right: 1px solid $table-border;
}

.dx-datagrid .dx-row-lines > td {
    border-bottom: 1px solid $table-border;
}

.round {
    background-color: var(--background);
}
.dx-datagrid-rowsview .dx-selection > td,
.dx-datagrid-rowsview .dx-selection > tr > td,
.dx-datagrid-rowsview .dx-selection > td,
.dx-datagrid-rowsview .dx-selection > tr > td {
    background-color: $table-selection !important;
    color: $data-label;
    text-align: left;
    font-size: 12px !important;
    line-height: 14px !important;
    letter-spacing: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.dx-command-select .dx-checkbox-checked .dx-checkbox-icon {
    color: white;
    background-color: $base-color;
}

.dx-datagrid
    .dx-datagrid-content
    .dx-datagrid-table
    .dx-row
    > td.dx-cell-modified:not(.dx-field-item-content):not(.dx-validation-pending):first-of-type,
.dx-datagrid
    .dx-datagrid-content
    .dx-datagrid-table
    .dx-row
    > td.dx-datagrid-invalid:not(.dx-field-item-content):not(.dx-validation-pending):not(
        .dx-datagrid-select-all
    ):first-of-type,
.dx-datagrid
    .dx-datagrid-content
    .dx-datagrid-table
    .dx-row
    > td:not(.dx-validation-pending):not(.dx-datagrid-select-all):first-of-type {
    padding-left: 0;
}
.disabled-background {
    background-color: whitesmoke !important;
}
.border-around-editor {
    border: 2px solid silver !important;
    .dx-htmleditor-toolbar-wrapper {
        border: 1px solid silver !important;
    }
}
.dx-datagrid-rowsview .dx-select-checkboxes-hidden > tbody > tr > td > .dx-select-checkbox {
    display: inline-block !important;
}
.dx-datagrid-rowsview .dx-select-checkboxes-hidden > tbody > tr > td > .dx-select-checkbox {
    display: grid;
}
.dx-htmleditor-toolbar-format {
    background: white !important;
}
.grid-selection-panel {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 36px;
    vertical-align: middle;
}

.grid-selection-panel-non-selection {
    background-color: $button-text-color;
    color: $base-color;
}

.grid-selection-panel-selection {
    background-color: $base-color;
    color: $button-text-color;
}

.grid-count-fragment {
    margin-top: 2px;
}

.grid-separator-fragment {
    border-left: $button-text-color 1px solid;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grid-button-panel {
    font-size: 15px;
    padding: 0 0.4rem;
    min-width: 0;
    height: 26px;

    &.normal {
        background-color: $button-text-color;
        color: $base-color;
        span {
            color: $base-color !important;
        }
    }

    &.inverse {
        background-color: $base-color;
        color: $button-text-color;
    }
}
.grid-button-panel-big {
    font-size: 16px;
    padding: 1rem !important;
    min-width: 0;
    height: 26px;
    &.normal {
        background-color: $button-text-color;
        color: $base-color;
        span {
            color: $base-color !important;
        }
    }

    &.inverse {
        background-color: $base-color;
        color: $button-text-color;
    }
}

.blue {
    color: $base-color !important;
}

.white {
    color: $button-text-color !important;
}

.dx-button-mode-outlined.dx-item-selected {
    background-color: rgba(0, 0, 0, 0.17);
}

.dx-button-mode-outlined.dx-item-selected {
    background-color: rgba(0, 0, 0, 0.17);
}

// .dx-editor-with-menu,
// .dx-checkbox-icon,
// .dx-datagrid-columns-separator.dx-datagrid-columns-separator-transparent {
//     z-index: 0;
// }

.dx-datagrid.dx-gridbase-container {
    z-index: 0;

    .dx-loadpanel {
        position: fixed;
        left: 50%;

        .dx-loadpanel-wrapper {
        }
    }
}

.dx-buttongroup-wrapper .dx-widget .dx-collection {
    background: white;
    border-radius: 5px;
}

.grid-panel-selection {
    display: inline-flex;
}

.grid-panel-right {
    margin-left: auto;
    order: 3;
}

.card-grid {
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
}

.card-grid .dx-scrollable-container {
    overflow-y: scroll;
}

.dx-item.dx-tile {
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
}
.dashboard {
    .dx-item.dx-tile {
        cursor: default;
    }
}

.dx-item.dx-tile .dx-tile-image {
    height: 100%;
    border-radius: 5px;
    .card-grid-body {
        padding: 3px;
    }
}

.dashboard {
    .dx-item.dx-tile .dx-tile-image {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2607843137);
        .card-grid-body {
            padding-right: 3px;
        }
    }
}
.dx-item.dx-tile .dx-tile-image.card-grid-selected {
    border: 2px solid $base-color;
}

.dx-item.dx-tile .dx-tile-image > .row {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.card-grid-header,
.card-grid-body,
.card-grid-footer {
    min-height: 30px;
    width: 100%;
    padding: 3px;
}

.card-grid-footer {
    display: inline-flex;
    align-items: flex-end;
    min-height: 20px;
    max-height: 20px;
    height: 20px;

    .card-grid-footer-content {
        display: block;
        border-radius: 5px;
        padding: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.card-grid-body {
    display: inline-flex;
    align-items: flex-start;
    max-height: calc(100% - 50px);

    .card-grid-body-content {
        border-radius: 5px;
        padding: 3px;
        word-break: normal;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-grid-body-image {
        padding-right: 10px;
    }
}
.dashboard {
    .dx-tile-image {
        .card-grid-body-image {
            border-radius: 50%;
        }
        .card-grid-header {
            padding: 3px;
            padding-right: 3px;
        }
    }
}
.card-grid-header {
    min-height: 30px;
    max-height: 30px;
    height: 35px;
    margin-bottom: 2px;
    display: inline-flex;
    justify-content: space-between;

    .card-grid-header-title {
        padding: 3px;
        border-radius: 5px;
        //flex-basis: initial;
        //flex-shrink: 0;
        //flex-grow: 1;
        display: block;
        white-space: break-spaces;
        word-wrap: break-word;
        overflow: hidden;
        position: relative;
        height: fit-content;
        width: auto;
        //text-overflow: ellipsis;
    }

    .card-grid-header-buttons {
        min-width: fit-content;
        display: flex;
        flex-direction: row;
    }
}

.card-grid-body {
    flex-basis: initial;
    flex-shrink: 0;
    flex-grow: 1;
}

.card-grid-footer {
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.card-grid .dx-scrollable-container {
    overflow-y: auto;
}

.dx-datagrid .dx-row > td {
    padding: 3px;
}

.dx-datagrid
    .dx-datagrid-content
    .dx-datagrid-table
    .dx-row
    > td
    .dx-row
    > td.dx-cell-modified:not(.dx-field-item-content):not(.dx-validation-pending),
.dx-datagrid
    .dx-datagrid-content
    .dx-datagrid-table
    .dx-row
    > td.dx-datagrid-invalid:not(.dx-field-item-content):not(.dx-validation-pending):not(.dx-datagrid-select-all),
.dx-datagrid
    .dx-datagrid-content
    .dx-datagrid-table
    .dx-row
    > td:not(.dx-validation-pending):not(.dx-datagrid-select-all) {
    padding-right: 5px;
    padding-left: 5px;
}

.card-grid-header {
    .shortcut.p-button {
        border-radius: 0;
    }

    .shortcut.p-button:first-child {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    .shortcut.p-button:last-child {
        border-radius: 4px;
    }
}
.dashboard {
    .dx-item.dx-tile {
        .shortcut.p-button {
            border-radius: 4px;
        }

        .shortcut.p-button:first-child {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }
    }
}
.p-dialog .p-dialog-header .p-dialog-header-icon {
    background: $base-color;
    margin-left: 10px;
    .pi-times {
        color: white;
    }
}
.p-sidebar-close.p-sidebar-icon.p-link {
    display: none;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:hover {
    background: $base-color !important;
}
.grid-container .shortcut.p-button,
.card-grid-header .shortcut.p-button {
    box-shadow: none;
}
#grid-container {
    tr {
        .dx-datagrid-action.dx-cell-focus-disabled.dx-datagrid-drag-action {
            text-align: left !important;
            .dx-column-indicators.dx-visibility-hidden {
                display: none;
            }

            .dx-column-indicators {
                float: right !important;
            }
        }
    }
}

#grid-container {
    .dx-datagrid .dx-datagrid-table .dx-header-row > td {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dx-datagrid
        .dx-datagrid-content
        .dx-datagrid-table
        .dx-header-row
        > td.dx-cell-modified:not(.dx-field-item-content):not(.dx-validation-pending):not(.dx-command-select):not(
            .header-button
        ),
    .dx-datagrid
        .dx-datagrid-content
        .dx-datagrid-table
        .dx-header-row
        > td.dx-datagrid-invalid:not(.dx-field-item-content):not(.dx-validation-pending):not(
            .dx-datagrid-select-all
        ):not(.dx-command-select):not(.header-button),
    .dx-datagrid
        .dx-datagrid-content
        .dx-datagrid-table
        .dx-header-row
        > td:not(.dx-validation-pending):not(.dx-datagrid-select-all):not(.dx-command-select):not(.header-button) {
        vertical-align: initial;
    }
}

.grid-container:not(.history-dialog) {
    .dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link,
    .dx-datagrid-rowsview
        .dx-row-focused.dx-data-row
        > td:not(.dx-focused):not(.dx-cell-modified):not(.dx-datagrid-invalid) {
        background-color: transparent;
        z-index: -10000;
    }
    .dx-row.dx-data-row.dx-row-lines.dx-column-lines.dx-row-focused {
        td {
            z-index: -10000;
        }
    }
    .dx-row.dx-data-row.dx-row-lines.dx-column-lines.dx-state-hover,
    .dx-row.dx-data-row.dx-row-lines.dx-state-hover {
        background-color: $base-color !important;
        td {
            background-color: $base-color !important;
            div {
                color: white !important;
            }
            .deleted-row {
                color: red !important;
            }
        }
    }
    
}
#HistoryLogListDialog_content{
    .dx-row-focused, .dx-state-hover,.dx-selection{
        td{
            background: white!important;
            color: black!important;
        }
    }
}
#attachmentDialog_content{
#content{
    // min-height: 10px;
    #selected-elements, #selected-elements-outer{
        margin-top:  100px;
        margin-bottom: -40px;
    }
}
}
.dx-datebox-date .dx-dropdowneditor-icon::before,
.dx-datebox-datetime .dx-dropdowneditor-icon::before,
.dx-datebox-time .dx-dropdowneditor-icon::before,
.dx-dropdowneditor-icon {
    color: $data-label;
}

body #subviews-panel .dx-tabs {
    width: auto;
    max-width: 100%;
    border: none;
    background: none;

    .dx-tabs-scrollable .dx-tab::before {
        height: 2px;
    }

    .dx-tabs-wrapper {
        margin-top: 5px;
        z-index: 0;
        background: white;
        width: auto;
    }

    .dx-tab {
        background-color: transparent;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;

        .subview-tab-item {
            color: $data-label;
            text-transform: none;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
        }

        .subview-tab-item-href {
            display: contents;
            position: relative;
            color: $data-label;
            text-transform: none;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
        }
    }

    .dx-tab.dx-tab-selected-item::before {
        background-color: $base-color;
    }

    .dx-tab.dx-tab-selected-item::after {
        border: none;
    }
}
#subviews-panel {
    .dx-item-content.dx-tab-content.dx-state-hover {
        .dx-item-content.dx-tab-content {
            .subview-tab-item-href,
            .subview-tab-item {
                color: $base-color !important;
            }
        }
    }
    .dx-item.dx-tab.dx-tab-selected-item {
        border-bottom: 2px solid $base-color;
    }
}
.p-menu-list.p-reset {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    // margin-right: 20px;
    .p-menuitem-text {
        word-wrap: break-word; /* dla starszych przeglądarek */
    }
}
.p-menuitem-content * {
    word-wrap: break-word;
}
.p-menuitem-text {
    word-wrap: break-word !important;
}
#menu-with-buttons, #menu-with-buttons-extended {
    z-index: 10000000;
    .p-menuitem {
        margin-bottom: -10px;
        margin-top: -10px;
    }
    .p-menuitem-link {
        padding: 10px;
    }
    .p-menuitem-icon,
    .p-menuitem-text {
        color: $base-color;
        font-size: 14px;
        margin-left: 5px;
    }
    .p-menuitem-text {
        margin-left: 18px;
    }
}

.base-container-content
    .grid-container.grid-with-opperations
    .dx-datagrid-headers
    .dx-header-row
    > td:last-child
    > .dx-datagrid-text-content:not(#editListDialog) {
    white-space: unset;
    display: flex;
    justify-content: center;
    margin-bottom: -9px;
}

.base-container-content
    .grid-container.grid-with-opperations
    .grid-header-auto-height
    .dx-datagrid-headers
    .dx-header-row
    > td:last-child
    > .dx-datagrid-text-content:not(#editListDialog) {
    justify-content: center;
    display: flex;
}
.base-container-content .grid-with-opperations .dx-datagrid-headers .dx-datagrid-table .dx-row > td:last-child {
    border-bottom: none;
    background-color: white;
}
.base-container-content .grid-with-opperations .dx-datagrid-headers .dx-datagrid-table .dx-row > td:last-child:hover {
    background-color: white !important;
}

#editListDialog .dx-header-row > td:last-child > .dx-datagrid-text-content {
    display: block !important;
}
#editListDialog .dx-header-row > td:last-child > .dx-datagrid-text-content {
    display: block !important;
}
#editListDialog .dx-datagrid-headers .dx-datagrid-table .dx-row > td:last-child {
    border-bottom: 1px solid rgb(216, 216, 216);
    background-color: white;
}

.dx-editor-cell .dx-texteditor .dx-texteditor-input {
    height: 34px;
}
.dx-row.dx-data-row.dx-row-lines.dx-column-lines {
    position: relative;
}

body .grid-container {
    max-width: 100%;
    width: min-content;

    .dx-checkbox.dx-state-readonly.dx-state-hover {
        .dx-checkbox-icon {
            border-color: rgba(0, 0, 0, 0);
        }
    }

    .dx-checkbox.dx-state-readonly {
        .dx-checkbox-icon {
            background-color: white;
        }

        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
    }

    .dx-checkbox {
        height: 18px;
    }

    .dx-datagrid-checkbox-size .dx-checkbox-icon {
        height: 14px;
    }

    .dx-select-checkbox.dx-checkbox-checked .dx-checkbox-icon {
        color: $text-bg !important;
    }

    .dx-checkbox-checked .dx-checkbox-icon {
        color: $base-color !important;
    }
}
.grid-selection-panel-non-selection {
    .grid-panel-left {
        .dx-selectbox-container {
            background-color: $base-color;
        }
    }
}
.grid-selection-panel-selection {
    .grid-panel-left {
        .dx-selectbox-container {
            background-color: white;
        }
    }
}
.grid-panel-left {
    .op-buttongroup {
        position: relative;
        display: flex;

        a {
            margin-right: 0.25rem;
        }

        a:last-child {
            margin-right: 0;
        }
    }

    .dx-buttongroup {
        .dx-buttongroup-item.dx-button.dx-button-mode-outlined {
            background-color: white !important;
            color: $base-color !important;
            .dx-button-content {
                .dx-icon {
                    color: $base-color !important;
                }
            }
        }

        .dx-buttongroup-item.dx-button.dx-button-mode-outlined.dx-item-selected,
        .dx-buttongroup-item.dx-button.dx-button-mode-outlined.dx-item-selected.dx-state-hover {
            background-color: $base-color !important;
            .dx-icon {
                color: white !important;
            }
        }

        .dx-buttongroup-item.dx-button.dx-button-mode-outlined.dx-state-hover {
            background-color: $base-color !important;
            .dx-icon {
                color: white !important;
            }
        }
    }
    .filter-combo {
        .dx-dropdowneditor-input-wrapper {
            background-color: white !important;
        }
    }
    .filter-combo.dx-texteditor.dx-dropdowneditor-active::before,
    .filter-combo.dx-texteditor::before,
    .filter-combo.dx-texteditor::after,
    .filter-combo.dx-texteditor:active,
    .filter-combo.dx-texteditor:hover,
    .filter-combo.dx-texteditor.dx-state-hover::after {
        border-bottom-width: 0;
        border-bottom-style: none;
        background: white !important;
        border-radius: 50px;
        color: $base-color !important;
    }
    .filter-combo.dx-texteditor:active,
    .filter-combo.dx-texteditor:hover,
    .filter-combo.dx-texteditor.dx-state-hover,
    .filter-combo.dx-texteditor.dx-state-focused,
    .filter-combo.dx-texteditor.dx-state-active {
        .dx-dropdowneditor-icon {
            background-color: white !important;
            color: $base-color !important;
        }
    }

    .filter-combo.dx-texteditor {
        display: inline-block;
        height: 28px;
        border-bottom-width: 0;
        border-bottom-style: none;

        .dx-dropdowneditor-icon {
            background-color: transparent;
            color: $base-color;
        }

        .dx-selectbox-container {
            border-radius: 4px;
            border: 1px solid #ddd !important;
            color: $base-color;

            .dx-texteditor-container {
                .dx-texteditor-input-container {
                    .dx-placeholder,
                    .dx-texteditor-input {
                        border: none;
                        background-color: white !important;
                        padding: 0 10px;
                        height: 26px;
                        min-height: 26px;
                        color: $base-color !important;
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        font-weight: bold;
                    }

                    .dx-placeholder::before {
                        padding: 0 10px;
                    }
                }
            }
        }

        .dx-dropdowneditor-button {
            width: 18px;
            min-width: 18px;
            color: $base-color !important;
        }
    }
}

.dx-overlay-wrapper.dx-header-filter-menu.dx-popup-wrapper {
    z-index: 1000000 !important;
}

.center-outside-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* or try 50% */
}
.dx-overlay-wrapper {
    z-index: 999 !important;
}
#sessionTimeoutDialog {
    width: 500px;
}
#time-ticker {
    font-size: 25px;
    float: right;
}
#grid-container {
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #b8b8b8;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #797979;
    }
}

.center-inside-div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.center-text-in-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.dx-scrollview-scrollbottom-indicator {
    -webkit-box-shadow: none;
    box-shadow: none;
}

//fix z uciekającymi bordersami tabelek
.dx-row.dx-column-lines.dx-datagrid-filter-row {
    height: 37px;
}

.minimize-sub-view {
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: bold;
    background: #ffffff;
    padding: 0.35rem 0.5rem;
    width: auto;
    display: inline-block;
    position: relative;
}

.arrow-open {
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $base-color;
    display: inline-block;
    position: absolute;
    right: 3px;
    bottom: 5px;
    cursor: pointer;
}

.arrow-close {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid $base-color;
    position: absolute;
    bottom: 3px;
    right: 5px;
    cursor: pointer;
}

.maximalized-sub-view {
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: bold;
    margin-right: -14px;
    background: #ffffff;
    padding: 0.35rem 0.5rem;
    position: relative;

 
}
.maximalized-sub-view.from-edit-spec{
    .dx-scrollable-content{
        min-height:46px;
    }

}
.maximalized-sub-view.from-app{
    .dx-scrollable-content{
        min-height:55px;
    }

}

#selection-data-grid {
    width: 99.5%;
}

#combo_filters {
    min-width: 100px;
}

.tiles {
    display: inline-flex;
}

.tile {
    border-radius: 10px;
    padding: 0;
    color: #333;
    background-color: #fff;
    border: 1px solid rgba(221, 221, 221, 0.6);
    text-align: left;
    outline: 0;
}

.dx-item.dx-tile {
    position: relative;
    align-self: flex-start;
    margin-right: 10px;
}

.infinite-loader-card {
    width: 100% !important;
    .dx-item.dx-tile {
        box-shadow: 0px 0px 5px #00000029;
        margin: 2px;
    }
}

.infinite-loader-card::-webkit-scrollbar {
    width: 4px;
}

.infinite-loader-card::-webkit-scrollbar-track {
    background: none;
}

.infinite-loader-card::-webkit-scrollbar-thumb {
    background-color: silver;
}
