/*Menu*/
.pro-sidebar-layout-light .pro-sidebar-content {
  background: $menu-bg-light;
  color: $button-color;
}

.pro-sidebar-layout-light .pro-sidebar-header {
  background: $menu-bg-light;
  color: $button-color;
}

.pro-sidebar-layout-light .pro-sidebar-footer {
  background: $menu-bg-light;
  color: $button-color;
}

.pro-sidebar-layout-light .pro-inner-list-item.popper-element {
  color: #ffffff;
}

.pro-sidebar-layout-light button#buttonCollapsed {
  color: $link-color;
  background-color: transparent !important;
}

.pro-sidebar-layout-light button#buttonCollapsed:hover {
  color: $text-color-highlighted;
  background-color: transparent !important;
}

.pro-sidebar-layout-light #menu-footer .pro-menu-item {
  color: $link-color;
}

.pro-sidebar-layout-light #menu-footer .pro-menu-item :hover {
  color: $text-color-highlighted;
}

.pro-sidebar-layout-dark {
  background: $menu-bg-dark;
}

.pro-sidebar > .pro-sidebar-inner {
  height: 100%;
}

.pro-sidebar {
  z-index: 1;
  box-shadow: 0 0 12px #00000029;
}

.pro-sidebar > .pro-sidebar-inner {
  position: fixed;
  max-width: 270px;
}

//scrollbar
.pro-sidebar ::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: rgba(0, 0, 0, 0);
}

.pro-sidebar ::-webkit-scrollbar-thumb {
  background: none;
}

.pro-sidebar.collapsed .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
  white-space: nowrap;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  padding: 8px 35px 8px 25px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item > .pro-icon-wrapper {
  display: inline-block;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before {
  content: none;
}

.pro-sidebar .pro-menu {
  padding-top: 0;
  padding-bottom: 0;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  font-size: 25px;
}

//strzałka dla podmenu, np. uzytkownicy
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item .pro-arrow-wrapper {
  display: block;
}

.pro-sidebar .pro-menu .pro-item-content.active {
  text-decoration: underline;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-bottom: none;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
  border-top: 1px solid black;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
  padding-top: 0;
  padding-bottom: 0;
}

.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
  background: #0e40c8 0 0 no-repeat padding-box;
}

.pro-icon-wrapper {
  zoom: 0.7;
}

.pro-inner-item.active span {
  color: $text-color-highlighted;
}

.pro-inner-item.active span .menu_arrow_active {
  position: absolute;
  top: 3px;
  width: 8px;
  bottom: 8px;
  left: -20px;
  background: transparent linear-gradient(188deg, #0e49eb 0, #30dbce 100%) 0 0 no-repeat padding-box;
  border-radius: 0 4px 4px 0;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  overflow-y: hidden;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout > .pro-sidebar-content {
  overflow-y: auto;
  z-index: 999;
}

#menu-search-span.p-input-icon-left > i:first-of-type,
#menu-search-span.p-input-icon-left > svg:first-of-type,
#menu-search-span.p-input-icon-left > .p-input-prefix {
  left: 0.5rem;
}

#menu-search-span.p-input-icon-right > i:last-of-type,
#menu-search-span.p-input-icon-right > svg:last-of-type,
#menu-search-span.p-input-icon-right > .p-input-suffix {
  right: 0.5rem;
}

#menu-search-span #filterValue.p-inputtext.p-inputtext-sm {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 2rem;
  padding-left: 2rem;
}

.pro-sidebar .pro-menu .popper-inner {
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

:root {
  --avatar-size: 26px;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.avatar-circle {
  background-color: #DDE6FF;
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
  box-shadow: 0 3px 6px #00000029;
  display: inline-table;
}

.avatar-initials {
  font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
  line-height: 1;
  color: #707890;
  position: relative;
  top: calc(var(--avatar-size) / 4); /* 25% of parent */
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.mdi-styles {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}
