/*
font-weight: 400; //normal
font-weight: 500; //medium
font-weight: 700; //bold
*/
/*Constans*/
$autofill-background: #effff4;
$validation-edit-row-color: #cb0a2f;
$invalid-background-color: #cb0a2f;
$calculated-cell-bakcground: #93ffb8;
$base-color: #0e49eb;
$disabled-background: #f3f3f3;
$text-color: #182d67;
$text-color-highlighted: #30dbce;
$text-bg: #ffffff;
$dropdown-hover: #707890;
$link-color-highlighted: #03a9f4;
$label-color: #717a93;
$button-text-color: #ffffff;
$menu-bg-light: transparent linear-gradient(90deg, #edf2fb 0, #fbfbfd 26%, #ffffff 53%, #fafbfd 77%, #ecf2fb 100%) 0 0
    no-repeat padding-box;
$menu-bg-dark: transparent linear-gradient(270deg, #1246d3 0, #0b3cc1 100%) 0 0 no-repeat padding-box;
$success-color: #2bb22a;
$info-color: #25a9b4;
$warn-color: #ce8e0f;
$danger-color: #cb0a2f;
//prosidebar
$sidebar-bg-color: $menu-bg-dark;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$sidebar-color: white;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$highlight-color: #d8d8d8;
$icon-size: 35px;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';

html,
body,
html * {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    height: 100%;
    width: 100%;
}
#save-editor-button {
    background: $base-color;
    color: white;
    height: 38px;
}
#editor-dialog {
    .dx-toolbar-before {
        display: flex;
        flex-wrap: wrap;
    }
}

//menu
@import 'menu';

.app {
    height: 100%;
    display: flex;
    position: relative;

    .btn-toggle {
        position: fixed;
        cursor: pointer;
        width: 35px;
        height: 35px;
        background: #353535;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        //display: flex;
        align-items: center;
        justify-content: center;
        font-size: 21px;
        display: none;
        margin-bottom: 5px;
        z-index: 1;
    }

    .sidebar-btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .sidebar-btn {
            padding: 1px 15px;
            border-radius: 40px;
            background: rgba(255, 255, 255, 0.05);
            color: #adadad;
            text-decoration: none;
            margin: 0 auto;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;

            span {
                margin-left: 5px;
                font-size: 13px;
            }

            &:hover {
                color: $highlight-color;
            }
        }
    }

    .collapsed {
        .sidebar-btn {
            display: inline-block;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            line-height: 40px;
            padding: 0;
        }
    }

    main {
        padding: 6px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        header {
            margin-bottom: 40px;
            border-bottom: 1px solid #efefef;

            h1 {
                display: flex;
                align-items: center;
                transform: translateX(-20px);
            }
        }

        footer {
            margin-top: 5px;
            text-align: center;
            opacity: 0.95;
            height: 60px;
        }
    }

    .block {
        display: flex;
        margin-bottom: 24px;
        font-size: 14px;
        color: #545454;

        > span {
            margin-left: 10px;
        }
    }

    @media (max-width: 767.98px) {
        overflow-x: hidden;
        header {
            h1 {
                font-size: 24px;
            }
        }
    }
    @media (max-width: $breakpoint-md) {
        .btn-toggle {
            display: flex;
        }
    }
}

.p-button.p-button-text {
    color: $text-bg;
}

.p-button.p-button-text:hover {
    color: $text-bg;
}

.p-button.p-button-text:not(a):not(.p-disabled):hover {
    color: $text-color-highlighted;
}

/*------------------*/

/*Okienko logowania*/
.login,
.image {
    min-height: 92vh;
}

.login .bg-color {
    background: $base-color 0 0 no-repeat padding-box;
}

.login-left-bg {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.login div#password input {
    width: 100%;
}

.login-icon {
    position: absolute;
    top: 35px;
    left: 54px;
    width: 275px;
    height: 70px;
}

.login a.login-button {
    bottom: 0;
    width: 100%;
    text-align: center;
    display: table;
}

.bg-light {
    background: transparent linear-gradient(87deg, #f7f9fd 20%, #c5dbfc 100%) 0 0 no-repeat padding-box;
}

/*------------------*/

/*Common*/
.font-big {
    color: $text-color;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: left;
}

.font-medium {
    color: $text-color;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: left;
}

.font-normal,
.p-inputtext,
a {
    color: $text-color;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
}

a {
    color: $base-color;
}

.p-inputtext {
    background-color: $text-bg;
}

.p-float-label > label {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
}

.font-label,
label {
    color: $label-color;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0;
    text-align: left;
}

.font-button,
.p-button {
    text-align: center;
    font-weight: normal;
    letter-spacing: 0;
    padding: 0.514rem 1rem;
    background-color: $base-color;
    color: $button-text-color;
}

.font-button,
.p-button.inverse {
    text-align: center;
    font-weight: normal;
    // font-weight: 600;
    letter-spacing: 0;
    padding: 0.514rem 1rem;
    background-color: white;
    color: $base-color !important;
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
}

.p-dropdown,
.p-dropdown .p-dropdown-label {
    background-color: $text-bg;
    color: $text-color;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    box-shadow: none;
}

.p-dropdown .p-dropdown-label,
.p-dropdown-label .p-inputtext {
    border: 0;
}

.p-dropdown:hover {
    border: 1px solid $dropdown-hover;
    color: $dropdown-hover;
}

.p-dropdown.p-component.p-inputwrapper.p-dropdown-clearable.p-inputwrapper-focus {
    border: 2px solid $base-color;
    color: $base-color;
}

/*------------------*/

/*- breadcrumb-final -*/
.breadcrumb-final.p-link {
    font-size: 12px;
    visibility: hidden;
}

/*------------------*/

/*----   Cards   ----*/

.card {
    box-shadow: 0 0 6px #00000029;
    border: none;
    border-radius: 0.5rem;
}

.card-header {
    color: $text-color;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
    text-align: left;
    background-color: white;
    border-bottom: none;
    padding: 5px 0 0 20px;
}

.card-title {
    color: $text-color;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: left;
}

.card-text {
    color: $text-color;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: left;
}

.card-text:hover {
    color: $base-color;
}

.prolab-logo {
    filter: blur(0.4px);
}
.dx-popup-inherit-height {
    // pointer-events: none !important;
}
.pro-sidebar ::-webkit-scrollbar-thumb {
    background: $link-color-highlighted;
}

.pro-sidebar .pro-menu .pro-menu-item.active > .pro-inner-item span {
    color: $text-color-highlighted;
}

.breadcrumb-link a {
    font-size: 12px;
    color: $base-color;
}

.breadcrumb-link span {
    font-size: 12px;
    font-weight: bold;
    color: $base-color;
}

.breadcrumb-final.p-link {
    font-size: 12px;
}

.breadcrumb-final.p-link {
    font-size: 12px;
    margin-left: 5px;
}

.p-button.p-component.p-button-text-only {
    color: $button-text-color;
}

.grid-view-header .font-medium {
    margin: auto;
    margin-left: 0;
}

//notifications & messages
@import 'toast';
/*------------------*/

//shortcuts buttons
@import 'shortcut';
/*------------------*/

//tree container
@import 'edit_spec_field';
/*------------------*/

//grid container
@import 'grid_container';

//tree container
@import 'tree_container';
//gantt container
@import 'gantt_container';
/*------------------*/

//dashboard
@import 'dashboard';
/*------------------*/

#mini-search-panel {
    padding: 0.4rem;
    text-align: center;
}
#mini-search-button {
    padding: 0.5rem 0.75rem;
    min-width: 1rem;
}
#session-time-out-component-ref {
    color: white;
    font-size: 12px;
    font-weight: 400;
}
#version {
    font-size: 12px;
}
.dx-closebutton {
    background: $base-color !important;
    height: 35px;
    margin-right: 20px;
    .dx-icon-close {
        color: white !important;
    }
}
.dx-popup-title {
    margin-top: 10px;
    border-bottom: none !important;
}

.maximalized-sub-view {
    .action-button-with-menu-contant {
        margin-right: 4px;
    }
}
.dx-datagrid-filter-panel .dx-datagrid-filter-panel-clear-filter,
.dx-datagrid-filter-panel .dx-datagrid-filter-panel-text,
.dx-datagrid-filter-panel .dx-icon-filter {
    color: $base-color !important;
}

.custom-overlay {
    position: 'fixed';
    top: 0;
    left: 0;
    width: '100vw';
    height: '100vh';
    // z-index: 901;
    background: 'black';
    opacity: 0.7;
    pointer-events: none;
}

body main div.container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 0px;
    padding-right: 2px;

    .breadcrumb-panel {
        // height: 20px;
        flex-basis: 0;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .block-ui-div {
        overflow-y: hidden;
        flex-basis: 0;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        .base-container-div {
            height: 100%;
            display: flex;
            width: 100%;
            flex-direction: column;
            overflow-y: hidden;

            .base-container-header {
                width: 100%;
                flex-basis: 0;
                flex-grow: 0;
                flex-shrink: 0;
                justify-content: space-between;
                .header-left {
                    width: 80%;
                }
            }

            .base-container-head-panel {
                width: 100%;
                flex-basis: 0;
                flex-grow: 0;
                flex-shrink: 0;
                padding-right: 0px;
                #header-panel {
                    padding-right: 0px;
                }
            }

            .base-container-content {
                width: 100%;
                flex-basis: 0;
                flex-grow: 1;
                flex-shrink: 1;
                overflow-y: hidden;

                #content {
                    width: 100%;
                    height: 100%;
                    margin-right: 0px;
                    padding-right: 0px;
                    overflow-y: unset;
                }
            }
        }
    }
}

.p-toast-message-content .p-toast-message-icon {
    visibility: hidden;
}

.p-toast-message-icon.pi.pi-times {
    width: 20px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    margin: 0;
}

.p-dialog-title {
    white-space: pre-line;
}

.p-confirm-dialog-message {
    white-space: pre-line;
}

.dx-empty-message {
    margin-left: 16px;
}

.p-button.p-component.p-confirm-dialog-reject.p-button-text {
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1) !important;
    color: $base-color !important;
}

.p-button.p-component.p-confirm-dialog-reject.p-button-text:hover {
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1) !important;
    color: $base-color !important;
}

.dx-show-clear-button .dx-icon-clear {
    background-color: transparent;
    top: 35% !important;
}

//fix dla blędu na node14
iframe {
    visibility: hidden;
}

.p-datepicker {
    padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.p-datepicker table td,
.p-datepicker .p-datepicker-header {
    padding: 0;
}

.p-datepicker-calendar,
.p-datepicker table {
    margin: 0;
}

.p-datepicker table td > span {
    height: 1.8rem;
}

.p-datepicker .p-datepicker-buttonbar {
    padding: 0.4rem 0;
}

.p-datepicker .p-timepicker button {
    height: 0.5rem;
}

.p-datepicker-buttonbar button {
    height: 25px;
}

.dx-tab.dx-state-focused::after {
    border: 0 !important;
    -webkit-appearance: none !important;
    outline: none !important;
    box-shadow: none;
}
.dx-htmleditor.dx-htmleditor-outlined .dx-htmleditor-content {
    margin: 1px 1px 1px 1px;
    border: 1px solid silver;
}
.calculated-cell-bakcground {
    background-color: $calculated-cell-bakcground;
}
.dx-datebox-wrapper-calendar {
    z-index: 1501 !important;
    .dx-calendar-navigator-previous-view,
    .dx-calendar-navigator-next-view,
    .dx-calendar-caption-button {
        border-radius: 0px !important;
        .dx-icon-chevronright,
        .dx-icon-chevronleft {
            margin-top: -2px;
        }
        .dx-button-content {
            background-color: white;
            .dx-button-text {
                color: black;
            }
        }
    }
}
.dx-tabs {
    border-style: none !important;
    border-width: 0px !important;
    border: 0px !important;
    border-block-start: none !important;
    border-block-end: none !important;
}
.dx-tabpanel .dx-multiview-wrapper {
    border: 0px !important;
    border-block-start: none !important;
    border-block-end: none !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
td[aria-roledescription='Editable'] {
    cursor: pointer;
}
.dx-texteditor-input-container {
    .dx-icon-search {
        margin-top: -9px !important;
        margin-left: 7px;
    }
}
.dx-searchbox.dx-editor-underlined .dx-placeholder::before,
.dx-searchbox.dx-editor-underlined .dx-texteditor-input {
    padding-left: 35px;
}
.dx-calendar-body {
    margin-top: 10px;
}
.dx-widget.dx-button.dx-button-mode-text.dx-button-default.dx-button-has-text.dx-popup-cancel {
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
    .dx-button-content {
        background: white;
        box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
        .dx-button-text {
            color: $base-color;
        }
    }
}
.dx-toolbar-after {
    .dx-item.dx-toolbar-item.dx-toolbar-button:last-child {
        .dx-item-content.dx-toolbar-item-content {
            .dx-widget.dx-button.dx-button-mode-text.dx-button-default.dx-button-has-text {
                box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
                .dx-button-content {
                    background: white;
                    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
                    .dx-button-text {
                        color: $base-color;
                    }
                }
            }
        }
    }
}

@import 'edit_spec_field';
@import 'edit_row';
