/*Constans*/
$text-color: #182D67;
$text-color-highlighted: #30DBCE;
$text-bg: #FFFFFF;
$link-color: #0E49EB;
$label-color: #717A93;
$button-color: #0E49EB;
$button-text-color: #FFFFFF;
$shadow-color: #0000004E;
$menu-bg-light: transparent linear-gradient(90deg, #EDF2FB 0%, #FBFBFD 26%, #FFFFFF 53%, #FAFBFD 77%, #ECF2FB 100%) 0% 0% no-repeat padding-box;
$menu-bg-dark: transparent linear-gradient(270deg, #1246D3 0%, #0B3CC1 100%) 0% 0% no-repeat padding-box;
//prosidebar

$sidebar-bg-color: $menu-bg-dark;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$sidebar-color: white;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
@import '~react-pro-sidebar/dist/scss/styles.scss';

html, body, html * {
  font-family: "Roboto";
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  height: 100%;
  width: 100%;
}

/*Menu*/
.pro-sidebar-layout-light .pro-sidebar-content {
  background: $menu-bg-light;
  color: $button-color;
}

.pro-sidebar-layout-light .pro-inner-list-item.popper-element {
  color: #FFFFFF;
}

.pro-sidebar-layout-light button#buttonCollapsed {
  color: $link-color;
}

.pro-sidebar-layout-light button#buttonCollapsed:hover {
  color: $text-color-highlighted;
}

.pro-sidebar-layout-light #menu-footer .pro-menu-item {
  color: $link-color;
}

.pro-sidebar-layout-light #menu-footer .pro-menu-item :hover {
  color: $text-color-highlighted;
}

.pro-sidebar-layout-dark {
  background: $menu-bg-dark;
}

.pro-sidebar > .pro-sidebar-inner {
  background: none;
}

.pro-sidebar {
  z-index: 1;
  box-shadow: 0px 0px 12px #00000029;

}

.pro-sidebar > .pro-sidebar-inner {
  position: fixed;
  max-width: 270px;
}

//scrollbar
.pro-sidebar ::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: rgba(0, 0, 0, 0);
}

.pro-sidebar ::-webkit-scrollbar-thumb {
  background: none;
}

.pro-sidebar.collapsed .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
  white-space: nowrap;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  padding: 8px 35px 8px 25px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item > .pro-icon-wrapper {
  display: inline-block;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before {
  content: none;
}

.pro-sidebar .pro-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  font-size: 25px;
}

//strzałka dla podmenu, np. uzytkownicy
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item .pro-arrow-wrapper {
  display: block;
}

.pro-sidebar .pro-menu .pro-item-content.active {
  text-decoration: underline;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-bottom: none;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
  background: #0E40C8 0% 0% no-repeat padding-box;
}

.pro-icon-wrapper {
  zoom: 0.7
}

.app {
  height: 100%;
  display: flex;
  position: relative;

  .btn-toggle {
    position: fixed;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    display: none;
    margin-bottom: 5px;
    z-index: 1;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;

      span {
        margin-left: 5px;
        font-size: 13px;
      }

      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding: 0;
    }
  }

  main {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    header {
      margin-bottom: 40px;
      border-bottom: 1px solid #efefef;

      h1 {
        display: flex;
        align-items: center;
        transform: translateX(-20px);
      }
    }

    footer {
      margin-top: 5px;
      text-align: center;
      opacity: 0.95;
      height: 60px;
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;

    > span {
      margin-left: 10px;
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }
  }
}

.pro-item-content.active {
  color: $text-color-highlighted;
}

.p-button.p-button-text {
  color: $text-bg;
}

.p-button.p-button-text:hover {
  color: $text-bg;
}

.p-button.p-button-text:not(a):not(.p-disabled):hover {
  color: $text-color-highlighted;
}

/*------------------*/

/*Okienko logowania*/
.login, .image {
  min-height: 100vh;
}

.login .bg-color {
  background: #1246D3 0% 0% no-repeat padding-box;
}

.login-left-bg {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

.login div#password input {
  width: 100%;
}

.login-icon {
  position: absolute;
  top: 35px;
  left: 54px;
  width: 275px;
  height: 70px;
}

.login a.login-button {
  bottom: 0px;
  width: 100%;
  text-align: center;
  display: table;
}

.bg-light {
  background: transparent linear-gradient(87deg, #F7F9FD 20%, #C5DBFC 100%) 0% 0% no-repeat padding-box;
}

/*------------------*/

/*Common*/
.font-big {
  color: $text-color;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0px;
  text-align: left;
}

.font-medium {
  color: $text-color;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0px;
  text-align: left;
}

.font-normal, .p-inputtext, a {
  color: $text-color;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0px;
  text-align: left;
}

a {
  color: $link-color;
}

.p-inputtext {
  background-color: $text-bg !important;
}

input:-webkit-autofill, input:autofill {
  -webkit-text-fill-color: $text-color !important;
  font-size: 1rem;
  background-color: $text-bg !important;
  filter: none;
}

.font-label, label {
  color: $label-color;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0px;
  text-align: left;
}

.font-button, .p-button {
  text-align: center;
  font-weight: normal;
  letter-spacing: 0px;
  background-color: $button-color;
  color: $button-text-color;
}

/*------------------*/

/*- breadcrumb-final -*/
.breadcrumb-final.p-link {
  font-size: 12px;
}

/*------------------*/

/*----   Cards   ----*/

.card {
  box-shadow: 0px 0px 6px #00000029;
  border: none;
  border-radius: .5rem;
}

.card-header {
  color: $text-color;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0px;
  text-align: left;
  background-color: white;
  border-bottom: none;
  padding: 5px 0px 0px 20px;
}

.card-title {
  color: $text-color;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
}

.card-text {
  color: $text-color;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0px;
  text-align: left;
}

.card-text:hover{
  color: $link-color;
}

/*------------------*/