/*
font-weight: 400; //normal
font-weight: 500; //medium
font-weight: 700; //bold
*/
/*Constans*/
$autofill-background: #effff4;
$validation-edit-row-color: #cb0a2f;
$invalid-background-color: #cb0a2f;
$calculated-cell-bakcground: #93ffb8;
$base-color: #0e49eb;
$disabled-background: #f3f3f3;
$text-color: #182d67;
$text-color-highlighted: #30dbce;
$text-bg: #ffffff;
$dropdown-hover: #707890;
$link-color-highlighted: #03a9f4;
$label-color: #717a93;
$button-text-color: #ffffff;
$menu-bg-light: transparent linear-gradient(90deg, #edf2fb 0, #fbfbfd 26%, #ffffff 53%, #fafbfd 77%, #ecf2fb 100%) 0 0
    no-repeat padding-box;
$menu-bg-dark: transparent linear-gradient(270deg, #1246d3 0, #0b3cc1 100%) 0 0 no-repeat padding-box;
$success-color: #2bb22a;
$info-color: #25a9b4;
$warn-color: #ce8e0f;
$danger-color: #cb0a2f;
//prosidebar
$sidebar-bg-color: $menu-bg-dark;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$sidebar-color: white;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$highlight-color: #d8d8d8;
$icon-size: 35px;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';

html,
body,
html * {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    height: 100%;
    width: 100%;
}
#save-editor-button {
    background: $base-color;
    color: white;
    height: 38px;
}
#editor-dialog {
    .dx-toolbar-before {
        display: flex;
        flex-wrap: wrap;
    }
}

//menu
@import 'menu';

.app {
    height: 100%;
    display: flex;
    position: relative;

    .btn-toggle {
        position: fixed;
        cursor: pointer;
        width: 35px;
        height: 35px;
        background: #353535;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        //display: flex;
        align-items: center;
        justify-content: center;
        font-size: 21px;
        display: none;
        margin-bottom: 5px;
        z-index: 1;
    }

    .sidebar-btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .sidebar-btn {
            padding: 1px 15px;
            border-radius: 40px;
            background: rgba(255, 255, 255, 0.05);
            color: #adadad;
            text-decoration: none;
            margin: 0 auto;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;

            span {
                margin-left: 5px;
                font-size: 13px;
            }

            &:hover {
                color: $highlight-color;
            }
        }
    }

    .collapsed {
        .sidebar-btn {
            display: inline-block;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            line-height: 40px;
            padding: 0;
        }
    }

    main {
        padding: 6px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        header {
            margin-bottom: 40px;
            border-bottom: 1px solid #efefef;

            h1 {
                display: flex;
                align-items: center;
                transform: translateX(-20px);
            }
        }

        footer {
            margin-top: 5px;
            text-align: center;
            opacity: 0.95;
            height: 60px;
        }
    }

    .block {
        display: flex;
        margin-bottom: 24px;
        font-size: 14px;
        color: #545454;

        > span {
            margin-left: 10px;
        }
    }

    @media (max-width: 767.98px) {
        overflow-x: hidden;
        header {
            h1 {
                font-size: 24px;
            }
        }
    }
    @media (max-width: $breakpoint-md) {
        .btn-toggle {
            display: flex;
        }
    }
}

.p-button.p-button-text {
    color: $text-bg;
}

.p-button.p-button-text:hover {
    color: $text-bg;
}

.p-button.p-button-text:not(a):not(.p-disabled):hover {
    color: $text-color-highlighted;
}

/*------------------*/

/*Okienko logowania*/
.login,
.image {
    min-height: 92vh;
}

.login .bg-color {
    background: $base-color 0 0 no-repeat padding-box;
}

.login-left-bg {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.login div#password input {
    width: 100%;
}

.login-icon {
    position: absolute;
    top: 35px;
    left: 54px;
    width: 275px;
    height: 70px;
}

.login a.login-button {
    bottom: 0;
    width: 100%;
    text-align: center;
    display: table;
}

.bg-light {
    background: transparent linear-gradient(87deg, #f7f9fd 20%, #c5dbfc 100%) 0 0 no-repeat padding-box;
}

/*------------------*/

/*Common*/
.font-big {
    color: $text-color;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: left;
}

.font-medium {
    color: $text-color;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: left;
}

.font-normal,
.p-inputtext,
a {
    color: $text-color;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
}

a {
    color: $base-color;
}

.p-inputtext {
    background-color: $text-bg;
}

.p-float-label > label {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
}

.font-label,
label {
    color: $label-color;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0;
    text-align: left;
}
.p-button {
    border-radius: 4px;
}
.p-dialog-header-close {
    // background: white !important;
    border-radius: 50px;
    color: white;
}

.font-button,
.p-button {
    text-align: center;
    font-weight: normal;
    letter-spacing: 0;
    padding: 0.514rem 1rem;
    background-color: $base-color;
    color: $button-text-color;
}

.font-button,
.p-button.inverse {
    text-align: center;
    font-weight: normal;
    // font-weight: 600;
    letter-spacing: 0;
    padding: 0.514rem 1rem;
    background-color: white;
    color: $base-color !important;
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
}

.p-dropdown,
.p-dropdown .p-dropdown-label {
    background-color: $text-bg;
    color: $text-color;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    box-shadow: none;
}

.p-dropdown .p-dropdown-label,
.p-dropdown-label .p-inputtext {
    border: 0;
}

.p-dropdown:hover {
    border: 1px solid $dropdown-hover;
    color: $dropdown-hover;
}

.p-dropdown.p-component.p-inputwrapper.p-dropdown-clearable.p-inputwrapper-focus {
    border: 2px solid $base-color;
    color: $base-color;
}

/*------------------*/

/*- breadcrumb-final -*/
.breadcrumb-final.p-link {
    font-size: 12px;
    visibility: hidden;
}

/*------------------*/

/*----   Cards   ----*/

.card {
    box-shadow: 0 0 6px #00000029;
    border: none;
    border-radius: 0.5rem;
}

.card-header {
    color: $text-color;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
    text-align: left;
    background-color: white;
    border-bottom: none;
    padding: 5px 0 0 20px;
}

.card-title {
    color: $text-color;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: left;
}

.card-text {
    color: $text-color;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: left;
}

.card-text:hover {
    color: $base-color;
}

.prolab-logo {
    filter: blur(0.4px);
}
.dx-popup-inherit-height {
    // pointer-events: none !important;
}
.pro-sidebar ::-webkit-scrollbar-thumb {
    background: $link-color-highlighted;
}

.pro-sidebar .pro-menu .pro-menu-item.active > .pro-inner-item span {
    color: $text-color-highlighted;
}

.breadcrumb-link a {
    font-size: 12px;
    color: $base-color;
}

.breadcrumb-link span {
    font-size: 12px;
    font-weight: bold;
    color: $base-color;
}

.breadcrumb-final.p-link {
    font-size: 12px;
}

.breadcrumb-final.p-link {
    font-size: 12px;
    margin-left: 5px;
}

.p-button.p-component.p-button-text-only {
    color: $button-text-color;
}

.grid-view-header .font-medium {
    margin: auto;
    margin-left: 0;
}

//notifications & messages
@import 'toast';
/*------------------*/

//shortcuts buttons
@import 'shortcut';
/*------------------*/

//tree container
@import 'edit_spec_field';
/*------------------*/

//grid container
@import 'grid_container';

//tree container
@import 'tree_container';
//gantt container
@import 'gantt_container';
/*------------------*/

//dashboard
@import 'dashboard';
/*------------------*/

#mini-search-panel {
    padding: 0.4rem;
    text-align: center;
}
#mini-search-button {
    padding: 0.5rem 0.75rem;
    min-width: 1rem;
}
#session-time-out-component-ref {
    color: white;
    font-size: 12px;
    font-weight: 400;
}
#version {
    font-size: 12px;
}
.dx-closebutton {
    background: $base-color !important;
    height: 35px;
    margin-right: 20px;
    .dx-icon-close {
        color: white !important;
    }
}
.dx-popup-title {
    margin-top: 10px;
    border-bottom: none !important;
}

.maximalized-sub-view {
    .action-button-with-menu-contant {
        margin-right: 4px;
    }
}
.dx-datagrid-filter-panel .dx-datagrid-filter-panel-clear-filter,
.dx-datagrid-filter-panel .dx-datagrid-filter-panel-text,
.dx-datagrid-filter-panel .dx-icon-filter {
    color: $base-color !important;
}

.custom-overlay {
    position: 'fixed';
    top: 0;
    left: 0;
    width: '100vw';
    height: '100vh';
    // z-index: 901;
    background: 'black';
    opacity: 0.7;
    pointer-events: none;
}

body main div.container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 0px;
    padding-right: 2px;

    .breadcrumb-panel {
        // height: 20px;
        flex-basis: 0;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .block-ui-div {
        overflow-y: hidden;
        flex-basis: 0;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        .base-container-div {
            height: 100%;
            display: flex;
            width: 100%;
            flex-direction: column;
            overflow-y: hidden;

            .base-container-header {
                width: 100%;
                flex-basis: 0;
                flex-grow: 0;
                flex-shrink: 0;
                justify-content: space-between;
                .header-left {
                    width: 80%;
                }
            }

            .base-container-head-panel {
                width: 100%;
                flex-basis: 0;
                flex-grow: 0;
                flex-shrink: 0;
                padding-right: 0px;
                #header-panel {
                    padding-right: 0px;
                }
            }

            .base-container-content {
                width: 100%;
                flex-basis: 0;
                flex-grow: 1;
                flex-shrink: 1;
                overflow-y: hidden;

                #content {
                    width: 100%;
                    height: 100%;
                    margin-right: 0px;
                    padding-right: 0px;
                    overflow-y: unset;
                }
            }
        }
    }
}

.p-toast-message-content .p-toast-message-icon {
    visibility: hidden;
}

.p-toast-message-icon.pi.pi-times {
    width: 20px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    margin: 0;
}

.p-dialog-title {
    white-space: pre-line;
}

.p-confirm-dialog-message {
    white-space: pre-line;
}

.dx-empty-message {
    margin-left: 16px;
}

.p-button.p-component.p-confirm-dialog-reject.p-button-text {
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1) !important;
    color: $base-color !important;
}

.p-button.p-component.p-confirm-dialog-reject.p-button-text:hover {
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1) !important;
    color: $base-color !important;
}

.dx-show-clear-button .dx-icon-clear {
    background-color: transparent;
    top: 35% !important;
}

//fix dla blędu na node14
iframe {
    visibility: hidden;
}

.p-datepicker {
    padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.p-datepicker table td,
.p-datepicker .p-datepicker-header {
    padding: 0;
}

.p-datepicker-calendar,
.p-datepicker table {
    margin: 0;
}

.p-datepicker table td > span {
    height: 1.8rem;
}

.p-datepicker .p-datepicker-buttonbar {
    padding: 0.4rem 0;
}

.p-datepicker .p-timepicker button {
    height: 0.5rem;
}

.p-datepicker-buttonbar button {
    height: 25px;
}

.dx-tab.dx-state-focused::after {
    border: 0 !important;
    -webkit-appearance: none !important;
    outline: none !important;
    box-shadow: none;
}
.dx-htmleditor.dx-htmleditor-outlined .dx-htmleditor-content {
    margin: 1px 1px 1px 1px;
    border: 1px solid silver;
}
.calculated-cell-bakcground {
    background-color: $calculated-cell-bakcground;
}
.dx-datebox-wrapper-calendar {
    z-index: 1501 !important;
    .dx-calendar-navigator-previous-view,
    .dx-calendar-navigator-next-view,
    .dx-calendar-caption-button {
        border-radius: 0px !important;
        .dx-icon-chevronright,
        .dx-icon-chevronleft {
            margin-top: -2px;
        }
        .dx-button-content {
            background-color: white;
            .dx-button-text {
                color: black;
            }
        }
    }
}
.dx-tabs {
    border-style: none !important;
    border-width: 0px !important;
    border: 0px !important;
    border-block-start: none !important;
    border-block-end: none !important;
}
.dx-tabpanel .dx-multiview-wrapper {
    border: 0px !important;
    border-block-start: none !important;
    border-block-end: none !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
td[aria-roledescription='Editable'] {
    cursor: pointer;
}
.dx-texteditor-input-container {
    .dx-icon-search {
        margin-top: -9px !important;
        margin-left: 7px;
    }
}
.dx-searchbox.dx-editor-underlined .dx-placeholder::before,
.dx-searchbox.dx-editor-underlined .dx-texteditor-input {
    padding-left: 35px;
}
.dx-calendar-body {
    margin-top: 10px;
}
.dx-widget.dx-button.dx-button-mode-text.dx-button-default.dx-button-has-text.dx-popup-cancel {
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
    .dx-button-content {
        background: white;
        box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.1);
        .dx-button-text {
            color: $base-color;
        }
    }
}
.dx-toolbar-after {
    .dx-item.dx-toolbar-item.dx-toolbar-button:last-child {
        .dx-item-content.dx-toolbar-item-content {
            .dx-widget.dx-button.dx-button-mode-text.dx-button-default.dx-button-has-text {
                box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
                .dx-button-content {
                    background: white;
                    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
                    .dx-button-text {
                        color: $base-color;
                    }
                }
            }
        }
    }
}
#imageViewer {
    .image-view {
        img {
            max-width: 600px;
        }
    }
}
.button-decoration-none {
    border: none;
    background: white;
}
.p-confirm-dialog-reject {
    float: left;
    background-color: white;
}
.p-calendar-w-btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.87);
}

.p-calendar-w-btn:active,
.p-calendar-w-btn:visited,
.p-calendar-w-btn:focus-visible,
.p-calendar-w-btn:focus {
    border: 1px solid $base-color;
}
.dx-htmleditor-toolbar-wrapper {
    .dx-overlay-content .dx-popup-content .dx-scrollable-content .dx-item-content {
        margin-left: 10px;
    }
    .dx-state-hover {
        .dx-button-content {
            background-color: rgb(243, 243, 243);
        }
    }
}
.dx-overlay-wrapper {
    z-index: 1000000 !important;
}
#right-sidebar {
    .p-sidebar-content {
        overflow-x: hidden;
    }
}
.ql-disabled {
    .dx-htmleditor-content {
        background: #f3f3f3;
    }
}
.p-menuitem-content {
    background-color: white;
}
.p-menu-list.p-reset {
    margin-bottom: 0px;
}
.ccol-1,
.ccol-2,
.ccol-3,
.ccol-4,
.ccol-5,
.ccol-6,
.ccol-7,
.ccol-8,
.ccol-9,
.ccol-10,
.ccol-11,
.ccol-12,
.ccol-13,
.ccol-14,
.ccol-15,
.ccol-16,
.ccol-17,
.ccol-18,
.ccol-19,
.ccol-20,
.ccol-21,
.ccol-22,
.ccol-23,
.ccol-24,
.ccol-25,
.ccol-26,
.ccol-27,
.ccol-28,
.ccol-29,
.ccol-30,
.ccol-31,
.ccol-32,
.ccol-33,
.ccol-34,
.ccol-35,
.ccol-36,
.ccol-37,
.ccol-38,
.ccol-39,
.ccol-40,
.ccol-41,
.ccol-42,
.ccol-43,
.ccol-44,
.ccol-45,
.ccol-46,
.ccol-47,
.ccol-48,
.ccol-49,
.ccol-50,
.ccol-51,
.ccol-52,
.ccol-53,
.ccol-54,
.ccol-55,
.ccol-56,
.ccol-57,
.ccol-58,
.ccol-59,
.ccol-60,
.ccol-61,
.ccol-62,
.ccol-63,
.ccol-64,
.ccol-65,
.ccol-66,
.ccol-67,
.ccol-68,
.ccol-69,
.ccol-70,
.ccol-71,
.ccol-72,
.ccol-73,
.ccol-74,
.ccol-75,
.ccol-76,
.ccol-77,
.ccol-78,
.ccol-79,
.ccol-80,
.ccol-81,
.ccol-82,
.ccol-83,
.ccol-84,
.ccol-85,
.ccol-86,
.ccol-87,
.ccol-88,
.ccol-89,
.ccol-90,
.ccol-91,
.ccol-92,
.ccol-93,
.ccol-94,
.ccol-95,
.ccol-96,
.ccol-97,
.ccol-98,
.ccol-99,
.ccol-100 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1132px) {
    .ccol-1 {
        flex: 0 0 1%;
        max-width: 1%;
    }
    .ccol-2 {
        flex: 0 0 2%;
        max-width: 2%;
    }
    .ccol-3 {
        flex: 0 0 3%;
        max-width: 3%;
    }
    .ccol-4 {
        flex: 0 0 4%;
        max-width: 4%;
    }
    .ccol-5 {
        flex: 0 0 5%;
        max-width: 5%;
    }
    .ccol-6 {
        flex: 0 0 6%;
        max-width: 6%;
    }
    .ccol-7 {
        flex: 0 0 7%;
        max-width: 7%;
    }
    .ccol-8 {
        flex: 0 0 8%;
        max-width: 8%;
    }
    .ccol-9 {
        flex: 0 0 9%;
        max-width: 9%;
    }
    .ccol-10 {
        flex: 0 0 10%;
        max-width: 10%;
    }
    .ccol-11 {
        flex: 0 0 11%;
        max-width: 11%;
    }
    .ccol-12 {
        flex: 0 0 12%;
        max-width: 12%;
    }
    .ccol-13 {
        flex: 0 0 13%;
        max-width: 13%;
    }
    .ccol-14 {
        flex: 0 0 14%;
        max-width: 14%;
    }
    .ccol-15 {
        flex: 0 0 15%;
        max-width: 15%;
    }
    .ccol-16 {
        flex: 0 0 16%;
        max-width: 16%;
    }
    .ccol-17 {
        flex: 0 0 17%;
        max-width: 17%;
    }
    .ccol-18 {
        flex: 0 0 18%;
        max-width: 18%;
    }
    .ccol-19 {
        flex: 0 0 19%;
        max-width: 19%;
    }
    .ccol-20 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .ccol-21 {
        flex: 0 0 21%;
        max-width: 21%;
    }
    .ccol-22 {
        flex: 0 0 22%;
        max-width: 22%;
    }
    .ccol-23 {
        flex: 0 0 23%;
        max-width: 23%;
    }
    .ccol-24 {
        flex: 0 0 24%;
        max-width: 24%;
    }
    .ccol-25 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .ccol-26 {
        flex: 0 0 26%;
        max-width: 26%;
    }
    .ccol-27 {
        flex: 0 0 27%;
        max-width: 27%;
    }
    .ccol-28 {
        flex: 0 0 28%;
        max-width: 28%;
    }
    .ccol-29 {
        flex: 0 0 29%;
        max-width: 29%;
    }
    .ccol-30 {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .ccol-31 {
        flex: 0 0 31%;
        max-width: 31%;
    }
    .ccol-32 {
        flex: 0 0 32%;
        max-width: 32%;
    }
    .ccol-33 {
        flex: 0 0 33%;
        max-width: 33%;
    }
    .ccol-34 {
        flex: 0 0 34%;
        max-width: 34%;
    }
    .ccol-35 {
        flex: 0 0 35%;
        max-width: 35%;
    }
    .ccol-36 {
        flex: 0 0 36%;
        max-width: 36%;
    }
    .ccol-37 {
        flex: 0 0 37%;
        max-width: 37%;
    }
    .ccol-38 {
        flex: 0 0 38%;
        max-width: 38%;
    }
    .ccol-39 {
        flex: 0 0 39%;
        max-width: 39%;
    }
    .ccol-40 {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .ccol-41 {
        flex: 0 0 41%;
        max-width: 41%;
    }
    .ccol-42 {
        flex: 0 0 42%;
        max-width: 42%;
    }
    .ccol-43 {
        flex: 0 0 43%;
        max-width: 43%;
    }
    .ccol-44 {
        flex: 0 0 44%;
        max-width: 44%;
    }
    .ccol-45 {
        flex: 0 0 45%;
        max-width: 45%;
    }
    .ccol-46 {
        flex: 0 0 46%;
        max-width: 46%;
    }
    .ccol-47 {
        flex: 0 0 47%;
        max-width: 47%;
    }
    .ccol-48 {
        flex: 0 0 48%;
        max-width: 48%;
    }
    .ccol-49 {
        flex: 0 0 49%;
        max-width: 49%;
    }
    .ccol-50 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .ccol-51 {
        flex: 0 0 51%;
        max-width: 51%;
    }
    .ccol-52 {
        flex: 0 0 52%;
        max-width: 52%;
    }
    .ccol-53 {
        flex: 0 0 53%;
        max-width: 53%;
    }
    .ccol-54 {
        flex: 0 0 54%;
        max-width: 54%;
    }
    .ccol-55 {
        flex: 0 0 55%;
        max-width: 55%;
    }
    .ccol-56 {
        flex: 0 0 56%;
        max-width: 56%;
    }
    .ccol-57 {
        flex: 0 0 57%;
        max-width: 57%;
    }
    .ccol-58 {
        flex: 0 0 58%;
        max-width: 58%;
    }
    .ccol-59 {
        flex: 0 0 59%;
        max-width: 59%;
    }
    .ccol-60 {
        flex: 0 0 60%;
        max-width: 60%;
    }
    .ccol-61 {
        flex: 0 0 61%;
        max-width: 61%;
    }
    .ccol-62 {
        flex: 0 0 62%;
        max-width: 62%;
    }
    .ccol-63 {
        flex: 0 0 63%;
        max-width: 63%;
    }
    .ccol-64 {
        flex: 0 0 64%;
        max-width: 64%;
    }
    .ccol-65 {
        flex: 0 0 65%;
        max-width: 65%;
    }
    .ccol-66 {
        flex: 0 0 66%;
        max-width: 66%;
    }
    .ccol-67 {
        flex: 0 0 67%;
        max-width: 67%;
    }
    .ccol-68 {
        flex: 0 0 68%;
        max-width: 68%;
    }
    .ccol-69 {
        flex: 0 0 69%;
        max-width: 69%;
    }
    .ccol-70 {
        flex: 0 0 70%;
        max-width: 70%;
    }
    .ccol-71 {
        flex: 0 0 71%;
        max-width: 71%;
    }
    .ccol-72 {
        flex: 0 0 72%;
        max-width: 72%;
    }
    .ccol-73 {
        flex: 0 0 73%;
        max-width: 73%;
    }
    .ccol-74 {
        flex: 0 0 74%;
        max-width: 74%;
    }
    .ccol-75 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .ccol-76 {
        flex: 0 0 76%;
        max-width: 76%;
    }
    .ccol-77 {
        flex: 0 0 77%;
        max-width: 77%;
    }
    .ccol-78 {
        flex: 0 0 78%;
        max-width: 78%;
    }
    .ccol-79 {
        flex: 0 0 79%;
        max-width: 79%;
    }
    .ccol-80 {
        flex: 0 0 80%;
        max-width: 80%;
    }
    .ccol-81 {
        flex: 0 0 81%;
        max-width: 81%;
    }
    .ccol-82 {
        flex: 0 0 82%;
        max-width: 82%;
    }
    .ccol-83 {
        flex: 0 0 83%;
        max-width: 83%;
    }
    .ccol-84 {
        flex: 0 0 84%;
        max-width: 84%;
    }
    .ccol-85 {
        flex: 0 0 85%;
        max-width: 85%;
    }
    .ccol-86 {
        flex: 0 0 86%;
        max-width: 86%;
    }
    .ccol-87 {
        flex: 0 0 87%;
        max-width: 87%;
    }
    .ccol-88 {
        flex: 0 0 88%;
        max-width: 88%;
    }
    .ccol-89 {
        flex: 0 0 89%;
        max-width: 89%;
    }
    .ccol-90 {
        flex: 0 0 90%;
        max-width: 90%;
    }
    .ccol-91 {
        flex: 0 0 91%;
        max-width: 91%;
    }
    .ccol-92 {
        flex: 0 0 92%;
        max-width: 92%;
    }
    .ccol-93 {
        flex: 0 0 93%;
        max-width: 93%;
    }
    .ccol-94 {
        flex: 0 0 94%;
        max-width: 94%;
    }
    .ccol-95 {
        flex: 0 0 95%;
        max-width: 95%;
    }
    .ccol-96 {
        flex: 0 0 96%;
        max-width: 96%;
    }
    .ccol-97 {
        flex: 0 0 97%;
        max-width: 97%;
    }
    .ccol-98 {
        flex: 0 0 98%;
        max-width: 98%;
    }
    .ccol-99 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .ccol-100 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@import 'edit_spec_field';
@import 'edit_row';
