.shortcut {
  box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: bold;
  background: $text-bg;
  padding: 0.35rem 1rem;
}

.shortcut > .shortcut-text {
  color: $button-color;
}

.shortcut:hover > .shortcut-text {
  color: $button-text-color;
  backgroud: $link-color-highlighted;
}

.action-button-with-menu {
  font-size: 20px;
  padding: 0rem 0.5rem;
  min-width: 0rem;
  height: 26px;
}

.button-with-menu-filter {
  font-size: 22px;
  padding: 0rem 0.3rem;
  min-width: 0rem;
  height: 28px;
  border: 1px solid gray;
}
.button-with-menu-filter .shortcut-text {
  color: gray;
}

.action-button-with-menu-popup {
  position: absolute;
  z-index: 999;
  top: 36px;
  right: 15px;
}

.action-button-with-menu-popup .p-menuitem-link,
.action-button-with-menu-popup .p-menuitem-link span {
  padding: 0.2rem 0.5rem;
  color: $button-color !important;
  font-size: 14px;
}